.navbar-nav {
  height: 100%;
  background-color: #3D444C;
  color: white;
  font-weight: bolder;
  padding: 20px 40px 0px 20px;
  width: 20%;
  box-sizing: border-box;
  box-shadow: -5px 0px 56px -1px rgba(66, 68, 90, 1);
}

.navbar-nav-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* media queries */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav {
      width: 30%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
      width: 40%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .navbar-nav {
      position: absolute;
      width: 100%;
      height: auto;
      padding-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .navbar-nav {
      position: absolute;
      width: 100%;
      height: auto;
      padding-bottom: 20px;
  }
}