* {
  font-family:Arial, Helvetica, sans-serif;
}

/* forms */

.form-item {
  padding: 1em 0.2em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-item-row {
  flex-direction: row;
  justify-content: flex-start;
}

.form-item-label {
}

.form-item-label-row {
 margin-right: 1rem;
}

.form-item-alert {
  padding: 1em;
  border: 1px solid;
  border-radius: 0.4em;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.form-item-alert-danger {
  background: #ff5555;
  color: #880000;
  border-color: #880000;
}

.form-alert {
  padding: 1em;
  border: 1px solid;
  border-radius: 0.4em;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.form-alert-danger {
  background: #ff5555;
  color: #880000;
  border-color: #880000;
}

/* inputs */

.input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid;
  width: 100%;
  box-sizing: border-box;
}

.input-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* buttons */
.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.button-primary {
  background-color: #1F2733;
  color: white;
}

.button-primary:hover {
  background-color: #2e394b;
}

.button-secondary {
  background-color: #313d4f;
  color: white;
}

.button-secondary:hover {
  background-color: #3b4a5f;
  color: white;
}

/* pages */
.page-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}